<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="container mobile-menu__container">
    <button
      class="mobile-menu__close-button js-close-menu"
      type="button"
      aria-label="кнопка закрытия меню навигации"
    >
      <svg class="mobile-menu__button-icon" width="15" height="15" aria-label="иконка крестик">
        <use href="/images/page-header/icons.svg#icon-close"></use>
      </svg>
    </button>

    <a class="logo" href="/index.html">
      <div class="logo-mobile">
        <svg class="logo-mobile__icon" width="80" height="29" aria-label="иконка логотипа">
          <use
            class="logo-mobile__icon-black mobile-menu__icon-black mobile-menu__icon-black--disable"
            href="/images/logo/mobile-logos.svg#black"
          ></use>
          <use class="logo-mobile__icon-white" href="/images/logo/mobile-logos.svg#white"></use>
        </svg>
      </div>
      <div class="logo-tablet">
        <div class="logo-tablet__group logo-tablet__group--top">
          <span class="logo-tablet__name-en mobile-menu__name-en mobile-menu__name-en--white"
            >Hell</span
          >
          <svg
            class="logo-tablet__icon"
            width="22"
            height="30"
            aria-label="иконка костра в логотипе"
          >
            <use href="/images/logo/logo-icon.svg#logo-icon" aria-label="logo-icon"></use>
          </svg>
          <span
            class="logo-tablet__name-en logo-tablet-name-en--uppercase mobile-menu__name-en mobile-menu__name-en--white"
            >En</span
          >
        </div>
        <div class="logo-tablet__group">
          <span class="logo-tablet__name-ru logo-tablet__name-ru--accent-color">Адский</span
          ><span class="logo-tablet__name-ru mobile-menu__name-ru mobile-menu__name-ru--white"
            >Английский</span
          >
        </div>
      </div>
    </a>

    <nav class="mobile-menu__navigation">
      <ul class="mobile-menu__navigation-list js-close-mob-menu">
        <li class="mobile-menu__navigation-item">
          <a href="#program" class="mobile-menu__navigation-link">Программы обучения</a>
        </li>
        <li class="mobile-menu__navigation-item">
          <a href="#about" class="mobile-menu__navigation-link">О нас</a>
        </li>
        <li class="mobile-menu__navigation-item">
          <a href="#how-we-do" class="mobile-menu__navigation-link">Варианты обучения</a>
        </li>
        <li class="mobile-menu__navigation-item">
          <a href="#contacts" class="mobile-menu__navigation-link">Контакты</a>
        </li>
      </ul>
    </nav>

    <!-- <button
      class="sign-button mobile-menu__sign-button"
      type="button"
      aria-label="кнопка открытия формы записи на консультацию"
      data-modal-open
      id="mobile-menu__sign-button"
    >
      Консультация по телефону
    </button> -->

    <a class="call-link mobile-menu__call-link" href="tel:+380000000000"
      >Консультация по телефону</a
    >
  </div>
</div>
