<header class="page-header" id="page-header">
  <div class="container page-header__container">
    <div class="thumb page-header__thumb">
      <a class="logo" href="/index.html">
        <div class="logo-mobile">
          <svg class="logo-mobile__icon" width="80" height="29" aria-label="иконка логотипа">
            <use
              class="logo-mobile__icon-black page-header__icon-black page-header__icon-black--disable"
              href="/images/logo/mobile-logos.svg#black"
            ></use>
            <use
              class="logo-mobile__icon-white page-header__icon-white page-header__icon-white--disable"
              href="/images/logo/mobile-logos.svg#white"
            ></use>
          </svg>
        </div>
        <div class="logo-tablet">
          <div class="logo-tablet__group logo-tablet__group--top">
            <span class="logo-tablet__name-en">Hell</span>
            <svg
              class="logo-tablet__icon"
              width="22"
              height="30"
              aria-label="иконка костра в логотипе"
            >
              <use href="/images/logo/logo-icon.svg#logo-icon" aria-label="logo-icon"></use>
            </svg>
            <span class="logo-tablet__name-en logo-tablet-name-en--uppercase">En</span>
          </div>
          <div class="logo-tablet__group">
            <span class="logo-tablet__name-ru logo-tablet__name-ru--accent-color">Адский</span
            ><span class="logo-tablet__name-ru">Английский</span>
          </div>
        </div>
      </a>

      <nav class="navigation page-header__navigation">
        <ul class="page-header__navigation-list">
          <li class="page-header__navigation-item">
            <a href="#program" class="page-header__navigation-link">Программы обучения</a>
          </li>
          <li class="page-header__navigation-item">
            <a href="#about" class="page-header__navigation-link">О нас</a>
          </li>
          <li class="page-header__navigation-item">
            <a href="#how-we-do" class="page-header__navigation-link">Варианты обучения</a>
          </li>
          <li class="page-header__navigation-item">
            <a href="#contacts" class="page-header__navigation-link">Контакты</a>
          </li>
        </ul>
      </nav>

      <!-- <button
        class="sign-button page-header__sign-button"
        type="button"
        aria-label="кнопка открытия формы записи на консультацию"
        id="page-header__sign-button"
        data-modal-open
      >
        Консультация по телефону
      </button> -->

      <a class="call-link page-header__call-link" href="tel:+380000000000"
        >Консультация по телефону</a
      >

      <button
        class="page-header__menu-button js-open-menu"
        type="button"
        aria-label="кнопка открытия меню навигации"
      >
        <svg
          class="page-header__menu-button-icon"
          width="21"
          height="12"
          aria-label="иконка горизонтальные полоски меню"
        >
          <use href="/images/page-header/icons.svg#icon-open"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
