<section class="reviews section section--reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title">Отзывы выпускников</h2>
    <div class="reviews__wrapper-list">
      <ul class="reviews__list">
        <li class="reviews__item is-close">
          <div class="reviews__thumb">
            <div class="reviews__wrapper-img">
              <div class="reviews__image-thumb">
                <picture>
                  <source
                    srcset="./images/reviews/alina-150.jpg 1x, ./images/reviews/alina-150@2x.jpg 2x"
                    type="image/jpeg"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="./images/reviews/alina-90.jpg 1x, ./images/reviews/alina-90@2x.jpg 2x"
                    media="(max-width:767px)"
                  />
                  <img
                    class="reviews__img"
                    src="./images/reviews/alina-150.jpg"
                    alt="photo"
                    width="90"
                  />
                </picture>
              </div>
              <a
                class="reviews__link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="reviews__svg" width="30" height="16" aria-label="иконка linkedin">
                  <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
            <div class="reviews__wrapper-text">
              <h3 class="reviews__card-title">Алина Кучеровская</h3>
              <p class="reviews__info">
                Выпуск 2015-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="reviews__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
                <a href="https://www.linkedin.com/" class="reviews__text-link"> Читать дальше</a>
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__item is-close">
          <div class="reviews__thumb">
            <div class="reviews__wrapper-img">
              <div class="reviews__image-thumb">
                <picture>
                  <source
                    srcset="
                      ./images/reviews/bogdana-150.jpg    1x,
                      ./images/reviews/bogdana-150@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/reviews/bogdana-90.jpg    1x,
                      ./images/reviews/bogdana-90@2x.jpg 2x
                    "
                    media="(max-width:767px)"
                  />
                  <img
                    class="reviews__img"
                    src="./images/reviews/bogdana-150.jpg"
                    alt="photo"
                    width="90"
                  />
                </picture>
              </div>
              <a
                class="reviews__link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="reviews__svg" width="30" height="16" aria-label="иконка linkedin">
                  <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
            <div class="reviews__wrapper-text">
              <h3 class="reviews__card-title">Богдана Кучеровская</h3>
              <p class="reviews__info">
                Выпуск 2017-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="reviews__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
                <a href="https://www.linkedin.com/" class="reviews__text-link"> Читать дальше</a>
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__item is-close">
          <div class="reviews__thumb">
            <div class="reviews__wrapper-img">
              <div class="reviews__image-thumb">
                <picture>
                  <source
                    srcset="./images/reviews/diana-150.jpg 1x, ./images/reviews/diana-150@2x.jpg 2x"
                    type="image/jpeg"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="./images/reviews/diana-90.jpg 1x, ./images/reviews/diana-90@2x.jpg 2x"
                    media="(max-width:767px)"
                  />
                  <img
                    class="reviews__img"
                    src="./images/reviews/diana-150.jpg"
                    alt="photo"
                    width="90"
                  />
                </picture>
              </div>
              <a
                class="reviews__link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="reviews__svg" width="30" height="16" aria-label="иконка linkedin">
                  <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
            <div class="reviews__wrapper-text">
              <h3 class="reviews__card-title">Диана Кучеровская</h3>
              <p class="reviews__info">
                Выпуск 2013-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="reviews__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
                <a href="https://www.linkedin.com/" class="reviews__text-link"> Читать дальше</a>
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__item is-close">
          <div class="reviews__thumb">
            <div class="reviews__wrapper-img">
              <div class="reviews__image-thumb">
                <picture>
                  <source
                    srcset="
                      ./images/reviews/karolina-150.jpg    1x,
                      ./images/reviews/karolina-150@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/reviews/karolina-90.jpg    1x,
                      ./images/reviews/karolina-90@2x.jpg 2x
                    "
                    media="(max-width:767px)"
                  />
                  <img
                    class="reviews__img"
                    src="./images/reviews/karolina-150.jpg"
                    alt="photo"
                    width="90"
                  />
                </picture>
              </div>

              <a
                class="reviews__link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="reviews__svg" width="30" height="16" aria-label="иконка linkedin">
                  <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
            <div class="reviews__wrapper-text">
              <h3 class="reviews__card-title">Каролина Кучеровская</h3>
              <p class="reviews__info">
                Выпуск 2014-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="reviews__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
                <a href="https://www.linkedin.com/" class="reviews__text-link"> Читать дальше</a>
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__item is-close">
          <div class="reviews__thumb">
            <div class="reviews__wrapper-img">
              <div class="reviews__image-thumb">
                <picture>
                  <source
                    srcset="./images/reviews/lida-150.jpg 1x, ./images/reviews/lida-150@2x.jpg 2x"
                    type="image/jpeg"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="./images/reviews/lida-90.jpg 1x, ./images/reviews/lida-90@2x.jpg 2x"
                    media="(max-width:767px)"
                  />
                  <img
                    class="reviews__img"
                    src="./images/reviews/lida-150.jpg"
                    alt="photo"
                    width="90"
                  />
                </picture>
              </div>
              <a
                class="reviews__link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="reviews__svg" width="30" height="16" aria-label="иконка linkedin">
                  <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
            <div class="reviews__wrapper-text">
              <h3 class="reviews__card-title">Лида Кучеровская</h3>
              <p class="reviews__info">
                Выпуск 2012-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="reviews__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
                <a href="https://www.linkedin.com/" class="reviews__text-link"> Читать дальше</a>
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__item">
          <div class="reviews__thumb">
            <div class="reviews__wrapper-img">
              <div class="reviews__image-thumb">
                <picture>
                  <source
                    srcset="./images/reviews/tonya-150.jpg 1x, ./images/reviews/tonya-150@2x.jpg 2x"
                    type="image/jpeg"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="./images/reviews/tonya-90.jpg 1x, ./images/reviews/tonya-90@2x.jpg 2x"
                    media="(max-width:767px)"
                  />
                  <img
                    class="reviews__img"
                    src="./images/reviews/tonya-150.jpg"
                    alt="photo"
                    width="90"
                  />
                </picture>
              </div>
              <a
                class="reviews__link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="reviews__svg" width="30" height="16" aria-label="иконка linkedin">
                  <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
            <div class="reviews__wrapper-text">
              <h3 class="reviews__card-title">Тоня Кучеровская</h3>
              <p class="reviews__info">
                Выпуск 2015-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="reviews__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
                <a href="https://www.linkedin.com/" class="reviews__text-link"> Читать дальше</a>
              </p>
            </div>
          </div>
        </li>
        <li class="reviews__item is-close">
          <div class="reviews__thumb">
            <div class="reviews__wrapper-img">
              <div class="reviews__image-thumb">
                <picture>
                  <source
                    srcset="./images/reviews/vika-150.jpg 1x, ./images/reviews/vika-150@2x.jpg 2x"
                    type="image/jpeg"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="./images/reviews/vika-90.jpg 1x, ./images/reviews/vika-90@2x.jpg 2x"
                    media="(max-width:767px)"
                  />
                  <img
                    class="reviews__img"
                    src="./images/reviews/vika-150.jpg"
                    alt="photo"
                    width="90"
                  />
                </picture>
              </div>
              <a
                class="reviews__link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="reviews__svg" width="30" height="16" aria-label="иконка linkedin">
                  <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
            <div class="reviews__wrapper-text">
              <h3 class="reviews__card-title">Вика Кучеровская</h3>
              <p class="reviews__info">
                Выпуск 20109-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="reviews__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
                <a href="https://www.linkedin.com/" class="reviews__text-link"> Читать дальше</a>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="preview">
      <ul class="preview__list">
        <li class="preview__item">
          <button class="preview__wrapper" type="button">
            <img
              class="preview__img"
              srcset="./images/reviews/alina-54.jpg 1x, ./images/reviews/alina-54@2x.jpg 2x"
              src="./images/reviews/alina-54.jpg"
              alt="photo"
            />
          </button>
        </li>
        <li class="preview__item">
          <button class="preview__wrapper" type="button">
            <img
              class="preview__img"
              srcset="./images/reviews/bogdana-54.jpg 1x, ./images/reviews/bogdana-54@2x.jpg 2x"
              src="./images/reviews/bogdana-54.jpg"
              alt="photo"
            />
          </button>
        </li>
        <li class="preview__item">
          <button class="preview__wrapper" type="button">
            <img
              class="preview__img"
              srcset="./images/reviews/diana-54.jpg 1x, ./images/reviews/diana-54@2x.jpg 2x"
              src="./images/reviews/diana-54.jpg"
              alt="photo"
            />
          </button>
        </li>
        <li class="preview__item">
          <button class="preview__wrapper" type="button">
            <img
              class="preview__img"
              srcset="./images/reviews/karolina-54.jpg 1x, ./images/reviews/karolina-54@2x.jpg 2x"
              src="./images/reviews/karolina-54.jpg"
              alt="photo"
            />
          </button>
        </li>
        <li class="preview__item">
          <button class="preview__wrapper" type="button">
            <img
              class="preview__img"
              srcset="./images/reviews/lida-54.jpg 1x, ./images/reviews/lida-54@2x.jpg 2x"
              src="./images/reviews/lida-54.jpg"
              alt="photo"
            />
          </button>
        </li>
        <li class="preview__item">
          <button class="preview__wrapper" type="button">
            <img
              class="preview__img"
              srcset="./images/reviews/tonya-54.jpg 1x, ./images/reviews/tonya-54@2x.jpg 2x"
              src="./images/reviews/tonya-54.jpg"
              alt="photo"
            />
          </button>
        </li>
        <li class="preview__item">
          <button class="preview__wrapper" type="button">
            <img
              class="preview__img"
              srcset="./images/reviews/vika-54.jpg 1x, ./images/reviews/vika-54@2x.jpg 2x"
              src="./images/reviews/vika-54.jpg"
              alt="photo"
            />
          </button>
        </li>
      </ul>
    </div>
    <!-- <button class="reviews__btn-left" type="button">
      <svg
        class="reviews__btn-svg"
        width="25"
        height="15"
        aria-label="левая кнопка переключения отзыва"
      >
        <use href="./images/reviews/reviews-sprite.svg#icon-sign-left"></use>
      </svg>
    </button>
    <button class="reviews__btn-right" type="button">
      <svg
        class="reviews__btn-svg"
        width="25"
        height="15"
        aria-label="правая кнопка переключения отзыва"
      >
        <use href="./images/reviews/reviews-sprite.svg#icon-sign-right"></use>
      </svg>
    </button> -->
  </div>
</section>
