<section class="benefits section section--benefits">
  <div class="container">
    <h2 class="benefits__title benefits__title--hidden">Почему нас выбирают</h2>
    <div class="benefits__wrapper">
      <ul class="benefits__list">
        <li class="benefits__item">Обучение в малых командах</li>
        <li class="benefits__item">Визуализированные конспекты</li>
        <li class="benefits__item">Каждое занятие имеет цель и конкретный результат</li>
        <li class="benefits__item">Реальные результаты предподавателя</li>
        <li class="benefits__item">Прогамма курса соответствует требованиям МОН Украины</li>
        <li class="benefits__item">Набор команд по уровням знаний</li>
      </ul>
    </div>
  </div>
</section>
