<section class="section-hero">
  <!-- <div class="section-hero__wave-thumb"></div> -->
  <div class="section-hero__background-thumb">
    <div class="container section-hero__container">
      <h1 class="section-hero__title section-hero__title--wrap">
        Комплексная<br class="section-hero__title-breakpoint" />
        подготовка к ВНО<br class="section-hero__title-breakpoint" />
        по английскому
        <br class="section-hero__title-breakpoint section-hero__title-breakpoint--show" />
        языку
      </h1>
      <p class="section-hero__pre-title">
        <span class="section-hero__pre-title-text section-hero__pre-title-text--gray"
          >Просто не будет. <br class="section-hero__pre-title-breakpoint" /></span
        ><span>Но ты гарантировано наберешь</span>
        <br class="section-hero__pre-title-breakpoint section-hero__pre-title-breakpoint--wrap" />
        <span class="section-hero__pre-title-text section-hero__pre-title-text--accent"
          >+25 баллов</span
        >
      </p>
      <a href="#contacts" class="section-hero__callback-link">Хочу на бесплатное занятие</a>
      <div class="section-hero__picture-thumb animate__animated animate__zoomIn animate__slow">
        <picture>
          <source
            srcset="/images/hero/bg-img-top-843.png 1x, /images/hero/bg-img-top-843@2x.png 2x"
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="/images/hero/bg-img-top-376.png 1x, /images/hero/bg-img-top-376@2x.png 2x"
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="/images/hero/bg-img-top-208.png 1x, /images/hero/bg-img-top-208@2x.png 2x"
            media="(max-width:767px)"
            type="image/png"
          />
          <img
            class="section-hero__image"
            src="/images/hero/bg-img-top-208.png"
            alt="фото процесс подготовки студентов"
            width="208"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
