<section class="about" id="about">
  <div class="container">
    <h2 class="about__title">Преподаватель</h2>
    <div class="about__tablet-cont">
      <div class="image-thumb about__image-thumb">
        <picture>
          <source
            srcset="images/about/photo-moreva-530.jpg 1x, images/about/photo-moreva-530@2x.jpg 2x"
            media="(min-width:1280px)"
            type="image/jpeg"
          />
          <source
            srcset="images/about/photo-moreva-243.jpg 1x, images/about/photo-moreva-243@2x.jpg 2x"
            media="(max-width:1279px)"
            type="image/jpeg"
          />
          <img
            class="about__image"
            src="images/about/photo-moreva-243.jpg"
            alt="фото Елена Морева"
            width="243"
          />
        </picture>
      </div>

      <div class="about__text-container">
        <h3 class="about__subtitle">Елена Морева</h3>
        <ul class="about__list">
          <li class="about__features">Опыт подготовки учеников к ВНО - 6 лет</li>
          <li class="about__features">
            Собственный результат сдачи ВНО - 197 баллов 2 года подряд
          </li>
          <li class="about__features">
            Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)
          </li>
        </ul>
        <div class="about__description">
          <p class="about__text">
            Высшее образование получила в Институте международных отношений НАУ по специальности
            переводчик-аналитик.
          </p>
          <p class="about__text">
            В свободное время проходит курсы от лучших университетов мира по эффективному
            преподаванию и методикам написания сочинений.
          </p>
          <p class="about__text">
            В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style
            (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business
            Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching
            and Learning (University of Houston).
          </p>
        </div>
        <a
          class="about__link"
          href="https://www.cambridgeenglish.org/exams-and-tests/proficiency"
          target="_blank"
          rel="noreferrer noopener"
          >Cambrige English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>
</section>
