<section class="section section--program section-program" id="program">
  <div class="section-program__border"></div>
  <div class="container section-program__container">
    <h2 class="section-program__title">Наша программа</h2>
    <div class="section-program__border--mobile"></div>

    <ul class="section-program__list">
      <li class="section-program__semester">
        <span class="section-program__semester-description">1 семестр</span>
        <ul class="section-program__auxiliary-list">
          <li class="section-program__aspect">
            <span class="section-program__aspect-description">Grammar</span>
            <ul class="section-program__topic">
              <li>Nouns & Articles</li>
              <li>Adjectives & Adverb</li>
            </ul>
          </li>
          <li class="section-program__aspect">
            <span class="section-program__aspect-description">Vocabulary</span>
            <ul class="section-program__topic">
              <li>Family & Relations</li>
              <li>People & Society</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="section-program__semester">
        <span class="section-program__semester-description">2 семестр</span>
        <ul class="section-program__auxiliary-list">
          <li class="section-program__aspect">
            <span class="section-program__aspect-description">Grammar</span>
            <ul class="section-program__topic">
              <li>Pronouns</li>
              <li>Active Voice</li>
              <li>Passive Voice</li>
            </ul>
          </li>
          <li class="section-program__aspect">
            <span class="section-program__aspect-description">Vocabulary</span>
            <ul class="section-program__topic">
              <li>Home</li>
              <li>School</li>
              <li>Work</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="section-program__semester">
        <span class="section-program__semester-description">3 семестр</span>
        <ul class="section-program__auxiliary-list">
          <li class="section-program__aspect">
            <span class="section-program__aspect-description">Grammar</span>
            <ul class="section-program__topic">
              <li>Modal verbs</li>
              <li>Infinitive</li>
              <li>Gerund</li>
              <li>Participle: 1, 2</li>
            </ul>
          </li>
          <li class="section-program__aspect">
            <span class="section-program__aspect-description">Vocabulary</span>
            <ul class="section-program__topic">
              <li>Travel & Tourism</li>
              <li>Culture & Free Time</li>
              <li>Sport</li>
            </ul>
          </li>
          <li class="section-program__aspect">
            <span class="section-program__aspect-description">Writing</span>
            <ul class="section-program__topic">
              <li>Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="section-program__semester">
        <span class="section-program__semester-description">4 семестр</span>
        <ul class="section-program__auxiliary-list">
          <li class="section-program__aspect">
            <span class="section-program__aspect-description">Grammar</span>
            <ul class="section-program__topic">
              <li>Clauses: Conditional and Wishes</li>
              <li>Direct / Reported speech</li>
              <li>Preposition</li>
              <li>Conjunction</li>
              <li>Numeral</li>
            </ul>
          </li>
          <li class="section-program__aspect">
            <span class="section-program__aspect-description">Vocabulary</span>
            <ul class="section-program__topic">
              <li>Healthy Living</li>
              <li>Nature & Environment</li>
              <li>Money</li>
            </ul>
          </li>
          <li class="section-program__aspect">
            <span class="section-program__aspect-description">Writing</span>
            <ul class="section-program__topic">
              <li>Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="section-program__semester">
        <span class="section-program__semester-description">5 семестр</span>
        <ul class="section-program__auxiliary-list">
          <li class="section-program__aspect">
            <span class="section-program__aspect-description"> </span>
            <ul class="section-program__topic">
              <li>Revision</li>
              <li>Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
