<section class="advantages section section--advantages">
  <div class="container">
    <h2 class="visually-hidden">Преимущества компании</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item--icon-program">
        <p class="advantages__content">Адаптированная авторская программа ВНО</p>
      </li>
      <li class="advantages__item advantages__item--icon-method">
        <p class="advantages__content advantages__content--width-method">
          Современные методики обучения
        </p>
      </li>
      <li class="advantages__item advantages__item--icon-guarantee">
        <p class="advantages__content advantages__content--width-guarantee">
          Финансовая гарантия результата
        </p>
      </li>
    </ul>
  </div>
</section>
